$page.setTitle("FAILLOG")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($DECLINED = $item.getStringProperty("DECLINED"))
	#if ( "-4" != $DECLINED )
		<tr>
			<th width="400px">1. If the person declined participation prior to coming to the center, please specify the reason(s):</th>
			<td>
				$DECLINED 
				#if ($DECLINED == "1")
					- Concerned about time away from work/family
				#elseif ($DECLINED == "2")
					- Concerned about traveling to performance site
				#elseif ($DECLINED == "3")
					- No collateral source
				#elseif ($DECLINED == "4")
					- Not interested in research
				#elseif ($DECLINED == "5")
					- Concerned about the protocol (specify portion)
				#elseif ($DECLINED == "6")
					- Currently pregnant
				#elseif ($DECLINED == "7")
					- Other (please specify)
			#end
			</td>
		</tr>
	#end
	#set ($DISTANCE = $item.getStringProperty("DISTANCE"))
	#if ( "-4" != $DISTANCE )
		<tr>
			<th width="400px">If concerned about traveling to performance site, specify distance:</th>
			<td>
				$!DISTANCE
			</td>
		</tr>
	#end
	#set ($DISTUNIT = $item.getStringProperty("DISTUNIT"))
	#if ( "-4" != $DISTUNIT )
		<tr>
			<th width="400px">Distance units</th>
			<td>
				$DISTUNIT 
				#if ($DISTUNIT == "1")
					- miles
				#elseif ($DISTUNIT == "2")
					- km
			#end
			</td>
		</tr>
	#end
	#set ($PROTOCOL = $item.getStringProperty("PROTOCOL"))
	#if ( "-4" != $PROTOCOL )
		<tr>
			<th width="400px">If concerned about protocol, specify portion:</th>
			<td>
				$PROTOCOL 
				#if ($PROTOCOL == "1")
					- clinical assessment
				#elseif ($PROTOCOL == "2")
					- psychometric testing
				#elseif ($PROTOCOL == "3")
					- genetic blood testing
				#elseif ($PROTOCOL == "4")
					- LP/CSF testing
				#elseif ($PROTOCOL == "5")
					- neuroimaging (MRI, PET-PIB, FDG-PET)
				#elseif ($PROTOCOL == "6")
					- autopsy
			#end
			</td>
		</tr>
	#end
	#set ($OTHER = $item.getStringProperty("OTHER"))
	#if ( "-4" != $OTHER )
		<tr>
			<th width="400px">Specify other:</th>
			<td>
				$!OTHER
			</td>
		</tr>
	#end
	#set ($DISCSC = $item.getStringProperty("DISCSC"))
	#if ( "-4" != $DISCSC )
		<tr>
			<th width="400px">2. If the person came in for the informed consent discussion, but did not complete the initial visit, please specify the reason(s):</th>
			<td>
				$DISCSC 
				#if ($DISCSC == "1")
					- Did not meet inclusion criteria
				#elseif ($DISCSC == "2")
					- Met exclusion criteria
				#elseif ($DISCSC == "3")
					- Clinician believed depression/mental illness put participant at risk for protocol participation
				#elseif ($DISCSC == "4")
					- Concerned about the protocol (specify portion)
				#elseif ($DISCSC == "5")
					- Positive urine pregnancy test
				#elseif ($DISCSC == "6")
					- Other (please specify)
			#end
			</td>
		</tr>
	#end
	#set ($DISCPROT = $item.getStringProperty("DISCPROT"))
	#if ( "-4" != $DISCPROT )
		<tr>
			<th width="400px">If concerned about protocol, specify portion:</th>
			<td>
				$DISCPROT 
				#if ($DISCPROT == "1")
					- clinical assessment
				#elseif ($DISCPROT == "2")
					- psychometric testing
				#elseif ($DISCPROT == "3")
					- genetic blood testing
				#elseif ($DISCPROT == "4")
					- LP/CSF testing
				#elseif ($DISCPROT == "5")
					- neuroimaging (MRI, PET-PIB, FDG-PET)
				#elseif ($DISCPROT == "6")
					- autopsy
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
