$page.setTitle("B3UPDRS")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($INITIALS = $item.getStringProperty("INITIALS"))
	#if ( "-4" != $INITIALS )
		<tr>
			<th width="400px">Examiner's Initials</th>
			<td>
				$!INITIALS
			</td>
		</tr>
	#end
	#set ($PDNORMAL = $item.getStringProperty("PDNORMAL"))
	#if ( "-4" != $PDNORMAL )
		<tr>
			<th width="400px">If the clinician completes the UPDRS examination and determines all items are normal, check this box and <u>end form here.</u></th>
			<td>
				$!PDNORMAL 
				#if ($PDNORMAL == "1")
					- Normal
				#elseif ($PDNORMAL == "0")
					- Not normal, form will be filled out
			#end
			</td>
		</tr>
	#end
	#set ($SPEECH = $item.getStringProperty("SPEECH"))
	#if ( "-4" != $SPEECH )
		<tr>
			<th width="400px">Speech</th>
			<td>
				$!SPEECH 
				#if ($SPEECH == "0")
					- Normal
				#elseif ($SPEECH == "1")
					- Slight loss of expression, diction and/or volume
				#elseif ($SPEECH == "2")
					- Monotone, slurred but understandable, moderately impaired
				#elseif ($SPEECH == "3")
					- Marked impairment, difficult to understand
				#elseif ($SPEECH == "4")
					- Unintelligible
				#elseif ($SPEECH == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($SPEECHX = $item.getStringProperty("SPEECHX"))
	#if ( "-4" != $SPEECHX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!SPEECHX
			</td>
		</tr>
	#end
	#set ($FACEXP = $item.getStringProperty("FACEXP"))
	#if ( "-4" != $FACEXP )
		<tr>
			<th width="400px">Facial expression</th>
			<td>
				$!FACEXP 
				#if ($FACEXP == "0")
					- Normal
				#elseif ($FACEXP == "1")
					- Minimal hypomimia, could be normal "poker face"
				#elseif ($FACEXP == "2")
					- Slight but definitely abnormal diminution of facial expression
				#elseif ($FACEXP == "3")
					-  Moderate hypomimia, lips parted some of the time
				#elseif ($FACEXP == "4")
					- Masked or fixed facies with severe or complete loss of facial expression, lips parted 1/4 inch or more
				#elseif ($FACEXP == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($FACEXPX = $item.getStringProperty("FACEXPX"))
	#if ( "-4" != $FACEXPX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!FACEXPX
			</td>
		</tr>
	#end
	#set ($TRESTFAC = $item.getStringProperty("TRESTFAC"))
	#if ( "-4" != $TRESTFAC )
		<tr>
			<th width="400px">Tremor at rest - Face, lips, chin</th>
			<td>
				$!TRESTFAC 
				#if ($TRESTFAC == "0")
					- Absent
				#elseif ($TRESTFAC == "1")
					- Slight and infrequently present
				#elseif ($TRESTFAC == "2")
					- Mild in amplitude and persistent, or moderate in amplitude, but only intermittently present
				#elseif ($TRESTFAC == "3")
					- Moderate in amplitude and present most of the time
				#elseif ($TRESTFAC == "4")
					- Marked in amplitude and present most of the time
				#elseif ($TRESTFAC == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRESTFAX = $item.getStringProperty("TRESTFAX"))
	#if ( "-4" != $TRESTFAX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRESTFAX
			</td>
		</tr>
	#end
	#set ($TRESTRHD = $item.getStringProperty("TRESTRHD"))
	#if ( "-4" != $TRESTRHD )
		<tr>
			<th width="400px">Tremor at rest - Right hand</th>
			<td>
				$!TRESTRHD 
				#if ($TRESTRHD == "0")
					- Absent
				#elseif ($TRESTRHD == "1")
					- Slight and infrequently present
				#elseif ($TRESTRHD == "2")
					- Mild in amplitude and persistent, or moderate in amplitude, but only intermittently present
				#elseif ($TRESTRHD == "3")
					- Moderate in amplitude and present most of the time
				#elseif ($TRESTRHD == "4")
					- Marked in amplitude and present most of the time
				#elseif ($TRESTRHD == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRESTRHX = $item.getStringProperty("TRESTRHX"))
	#if ( "-4" != $TRESTRHX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRESTRHX
			</td>
		</tr>
	#end
	#set ($TRESTLHD = $item.getStringProperty("TRESTLHD"))
	#if ( "-4" != $TRESTLHD )
		<tr>
			<th width="400px">Tremor at rest - Left hand</th>
			<td>
				$!TRESTLHD 
				#if ($TRESTLHD == "0")
					- Absent
				#elseif ($TRESTLHD == "1")
					- Slight and infrequently present
				#elseif ($TRESTLHD == "2")
					- Mild in amplitude and persistent, or moderate in amplitude, but only intermittently present
				#elseif ($TRESTLHD == "3")
					- Moderate in amplitude and present most of the time
				#elseif ($TRESTLHD == "4")
					- Marked in amplitude and present most of the time
				#elseif ($TRESTLHD == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRESTLHX = $item.getStringProperty("TRESTLHX"))
	#if ( "-4" != $TRESTLHX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRESTLHX
			</td>
		</tr>
	#end
	#set ($TRESTRFT = $item.getStringProperty("TRESTRFT"))
	#if ( "-4" != $TRESTRFT )
		<tr>
			<th width="400px">Tremor at rest - Right foot</th>
			<td>
				$!TRESTRFT 
				#if ($TRESTRFT == "0")
					- Absent
				#elseif ($TRESTRFT == "1")
					- Slight and infrequently present
				#elseif ($TRESTRFT == "2")
					- Mild in amplitude and persistent, or moderate in amplitude, but only intermittently present
				#elseif ($TRESTRFT == "3")
					- Moderate in amplitude and present most of the time
				#elseif ($TRESTRFT == "4")
					- Marked in amplitude and present most of the time
				#elseif ($TRESTRFT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRESTRFX = $item.getStringProperty("TRESTRFX"))
	#if ( "-4" != $TRESTRFX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRESTRFX
			</td>
		</tr>
	#end
	#set ($TRESTLFT = $item.getStringProperty("TRESTLFT"))
	#if ( "-4" != $TRESTLFT )
		<tr>
			<th width="400px">Tremor at rest - Left foot</th>
			<td>
				$!TRESTLFT 
				#if ($TRESTLFT == "0")
					- Absent
				#elseif ($TRESTLFT == "1")
					- Slight and infrequently present
				#elseif ($TRESTLFT == "2")
					- Mild in amplitude and persistent, or moderate in amplitude, but only intermittently present
				#elseif ($TRESTLFT == "3")
					- Moderate in amplitude and present most of the time
				#elseif ($TRESTLFT == "4")
					- Marked in amplitude and present most of the time
				#elseif ($TRESTLFT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRESTLFX = $item.getStringProperty("TRESTLFX"))
	#if ( "-4" != $TRESTLFX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRESTLFX
			</td>
		</tr>
	#end
	#set ($TRACTRHD = $item.getStringProperty("TRACTRHD"))
	#if ( "-4" != $TRACTRHD )
		<tr>
			<th width="400px">Action or postural tremor of hands - Right hand</th>
			<td>
				$!TRACTRHD 
				#if ($TRACTRHD == "0")
					- Absent
				#elseif ($TRACTRHD == "1")
					- Slight, present with action
				#elseif ($TRACTRHD == "2")
					- Moderate in amplitude, present with action
				#elseif ($TRACTRHD == "3")
					- Moderate in amplitude with posture holding as well as action
				#elseif ($TRACTRHD == "4")
					- Marked in amplitude, interferes with feeding
				#elseif ($TRACTRHD == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRACTRHX = $item.getStringProperty("TRACTRHX"))
	#if ( "-4" != $TRACTRHX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRACTRHX
			</td>
		</tr>
	#end
	#set ($TRACTLHD = $item.getStringProperty("TRACTLHD"))
	#if ( "-4" != $TRACTLHD )
		<tr>
			<th width="400px">Action or postural tremor of hands - Left hand</th>
			<td>
				$!TRACTLHD 
				#if ($TRACTLHD == "0")
					- Absent
				#elseif ($TRACTLHD == "1")
					- Slight, present with action
				#elseif ($TRACTLHD == "2")
					- Moderate in amplitude, present with action
				#elseif ($TRACTLHD == "3")
					- Moderate in amplitude with posture holding as well as action
				#elseif ($TRACTLHD == "4")
					- Marked in amplitude, interferes with feeding
				#elseif ($TRACTLHD == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TRACTLHX = $item.getStringProperty("TRACTLHX"))
	#if ( "-4" != $TRACTLHX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TRACTLHX
			</td>
		</tr>
	#end
	#set ($RIGDNECK = $item.getStringProperty("RIGDNECK"))
	#if ( "-4" != $RIGDNECK )
		<tr>
			<th width="400px">Rigidity - Neck (judged on passive movement of major joints with patient relaxed in sitting position; cogwheeling to be ignored)</th>
			<td>
				$!RIGDNECK 
				#if ($RIGDNECK == "0")
					- Absent
				#elseif ($RIGDNECK == "1")
					- Slight or detectable only when activated by mirror or other movements
				#elseif ($RIGDNECK == "2")
					- Mild to moderate
				#elseif ($RIGDNECK == "3")
					- Marked, but full range of motion easily achieved
				#elseif ($RIGDNECK == "4")
					- Severe, range of motion achieved with difficulty
				#elseif ($RIGDNECK == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($RIGDNEX = $item.getStringProperty("RIGDNEX"))
	#if ( "-4" != $RIGDNEX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!RIGDNEX
			</td>
		</tr>
	#end
	#set ($RIGDUPRT = $item.getStringProperty("RIGDUPRT"))
	#if ( "-4" != $RIGDUPRT )
		<tr>
			<th width="400px">Rigidity - Right upper extremity (judged on passive movement of major joints with patient relaxed in sitting position; cogwheeling to be ignored)</th>
			<td>
				$!RIGDUPRT 
				#if ($RIGDUPRT == "0")
					- Absent
				#elseif ($RIGDUPRT == "1")
					- Slight or detectable only when activated by mirror or other movements
				#elseif ($RIGDUPRT == "2")
					- Mild to moderate
				#elseif ($RIGDUPRT == "3")
					- Marked, but full range of motion easily achieved
				#elseif ($RIGDUPRT == "4")
					- Severe, range of motion achieved with difficulty
				#elseif ($RIGDUPRT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($RIGDUPRX = $item.getStringProperty("RIGDUPRX"))
	#if ( "-4" != $RIGDUPRX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!RIGDUPRX
			</td>
		</tr>
	#end
	#set ($RIGDUPLF = $item.getStringProperty("RIGDUPLF"))
	#if ( "-4" != $RIGDUPLF )
		<tr>
			<th width="400px">Rigidity - Left upper extremity (judged on passive movement of major joints with patient relaxed in a sitting position; cogwheeling to be ignored)</th>
			<td>
				$!RIGDUPLF 
				#if ($RIGDUPLF == "0")
					- Absent
				#elseif ($RIGDUPLF == "1")
					- Slight or detectable only when activated by mirror or other movements
				#elseif ($RIGDUPLF == "2")
					- Mild to moderate
				#elseif ($RIGDUPLF == "3")
					- Marked, but full range of motion easily achieved
				#elseif ($RIGDUPLF == "4")
					- Severe, range of motion achieved with difficulty
				#elseif ($RIGDUPLF == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($RIGDUPLX = $item.getStringProperty("RIGDUPLX"))
	#if ( "-4" != $RIGDUPLX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!RIGDUPLX
			</td>
		</tr>
	#end
	#set ($RIGDLORT = $item.getStringProperty("RIGDLORT"))
	#if ( "-4" != $RIGDLORT )
		<tr>
			<th width="400px">Rigidity - Right lower extremity (judged on passive movement of major joints with patient relaxed in sitting position; cogwheeling to be ignored)</th>
			<td>
				$!RIGDLORT 
				#if ($RIGDLORT == "0")
					- Absent
				#elseif ($RIGDLORT == "1")
					- Slight or detectable only when activated by mirror or other movements
				#elseif ($RIGDLORT == "2")
					- Mild to moderate
				#elseif ($RIGDLORT == "3")
					- Marked, but full range of motion easily achieved
				#elseif ($RIGDLORT == "4")
					- Severe, range of motion achieved with difficulty
				#elseif ($RIGDLORT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($RIGDLORX = $item.getStringProperty("RIGDLORX"))
	#if ( "-4" != $RIGDLORX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!RIGDLORX
			</td>
		</tr>
	#end
	#set ($RIGDLOLF = $item.getStringProperty("RIGDLOLF"))
	#if ( "-4" != $RIGDLOLF )
		<tr>
			<th width="400px">Rigidity - Left lower extremity (judged on passive movement of major joints with patient relaxed in sitting position; cogwheeling to be ignored)</th>
			<td>
				$!RIGDLOLF 
				#if ($RIGDLOLF == "0")
					- Absent
				#elseif ($RIGDLOLF == "1")
					- Slight or detectable only when activated by mirror or other movements
				#elseif ($RIGDLOLF == "2")
					- Mild to moderate
				#elseif ($RIGDLOLF == "3")
					- Marked, but full range of motion easily achieved
				#elseif ($RIGDLOLF == "4")
					- Severe, range of motion achieved with difficulty
				#elseif ($RIGDLOLF == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($RIGDLOLX = $item.getStringProperty("RIGDLOLX"))
	#if ( "-4" != $RIGDLOLX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!RIGDLOLX
			</td>
		</tr>
	#end
	#set ($TAPSRT = $item.getStringProperty("TAPSRT"))
	#if ( "-4" != $TAPSRT )
		<tr>
			<th width="400px">Finger taps - Right hand (patient taps thumb with index finger in rapid succession)</th>
			<td>
				$!TAPSRT 
				#if ($TAPSRT == "0")
					- Normal
				#elseif ($TAPSRT == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($TAPSRT == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($TAPSRT == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($TAPSRT == "4")
					- Can barely perform the task
				#elseif ($TAPSRT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TAPSRTX = $item.getStringProperty("TAPSRTX"))
	#if ( "-4" != $TAPSRTX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TAPSRTX
			</td>
		</tr>
	#end
	#set ($TAPSLF = $item.getStringProperty("TAPSLF"))
	#if ( "-4" != $TAPSLF )
		<tr>
			<th width="400px">Finger taps - Left hand (patient taps thumb with index finger in rapid succession)</th>
			<td>
				$!TAPSLF 
				#if ($TAPSLF == "0")
					- Normal
				#elseif ($TAPSLF == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($TAPSLF == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($TAPSLF == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($TAPSLF == "4")
					- Can barely perform the task
				#elseif ($TAPSLF == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($TAPSLFX = $item.getStringProperty("TAPSLFX"))
	#if ( "-4" != $TAPSLFX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!TAPSLFX
			</td>
		</tr>
	#end
	#set ($HANDMOVR = $item.getStringProperty("HANDMOVR"))
	#if ( "-4" != $HANDMOVR )
		<tr>
			<th width="400px">Hand movements - Right hand (patient opens and closes hands in rapid succession)</th>
			<td>
				$!HANDMOVR 
				#if ($HANDMOVR == "0")
					- Normal
				#elseif ($HANDMOVR == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($HANDMOVR == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($HANDMOVR == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($HANDMOVR == "4")
					- Can barely perform the task
				#elseif ($HANDMOVR == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($HANDMVRX = $item.getStringProperty("HANDMVRX"))
	#if ( "-4" != $HANDMVRX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!HANDMVRX
			</td>
		</tr>
	#end
	#set ($HANDMOVL = $item.getStringProperty("HANDMOVL"))
	#if ( "-4" != $HANDMOVL )
		<tr>
			<th width="400px">Hand movements - Left hand (patient opens and closes hands in rapid succession)</th>
			<td>
				$!HANDMOVL 
				#if ($HANDMOVL == "0")
					- Normal
				#elseif ($HANDMOVL == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($HANDMOVL == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($HANDMOVL == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($HANDMOVL == "4")
					- Can barely perform the task
				#elseif ($HANDMOVL == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($HANDMVLX = $item.getStringProperty("HANDMVLX"))
	#if ( "-4" != $HANDMVLX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!HANDMVLX
			</td>
		</tr>
	#end
	#set ($HANDALTR = $item.getStringProperty("HANDALTR"))
	#if ( "-4" != $HANDALTR )
		<tr>
			<th width="400px">Rapid alternating movements of hands - Right hand (pronation-supination movements of hands, vertically and horizontally, with as large an amplitude as possible, both hands simultaneously)</th>
			<td>
				$!HANDALTR 
				#if ($HANDALTR == "0")
					- Normal
				#elseif ($HANDALTR == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($HANDALTR == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($HANDALTR == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($HANDALTR == "4")
					- Can barely perform the task
				#elseif ($HANDALTR == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($HANDATRX = $item.getStringProperty("HANDATRX"))
	#if ( "-4" != $HANDATRX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!HANDATRX
			</td>
		</tr>
	#end
	#set ($HANDALTL = $item.getStringProperty("HANDALTL"))
	#if ( "-4" != $HANDALTL )
		<tr>
			<th width="400px">Rapid alternating movements of hands - Left hand (pronation-supination movements of hands, vertically and horizontally, with as large an amplitude as possible, both hands simultaneously)</th>
			<td>
				$!HANDALTL 
				#if ($HANDALTL == "0")
					- Normal
				#elseif ($HANDALTL == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($HANDALTL == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($HANDALTL == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($HANDALTL == "4")
					- Can barely perform the task
				#elseif ($HANDALTL == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($HANDATLX = $item.getStringProperty("HANDATLX"))
	#if ( "-4" != $HANDATLX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!HANDATLX
			</td>
		</tr>
	#end
	#set ($LEGRT = $item.getStringProperty("LEGRT"))
	#if ( "-4" != $LEGRT )
		<tr>
			<th width="400px">Leg agility - Right leg (patient taps heel on ground in rapid succession, picking up entire leg, amplitude should be at least 3 inches)</th>
			<td>
				$!LEGRT 
				#if ($LEGRT == "0")
					- Normal
				#elseif ($LEGRT == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($LEGRT == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($LEGRT == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($LEGRT == "4")
					- Can barely perform the task
				#elseif ($LEGRT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($LEGRTX = $item.getStringProperty("LEGRTX"))
	#if ( "-4" != $LEGRTX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!LEGRTX
			</td>
		</tr>
	#end
	#set ($LEGLF = $item.getStringProperty("LEGLF"))
	#if ( "-4" != $LEGLF )
		<tr>
			<th width="400px">Leg agility - Left leg (patient taps heel on ground in rapid succession, picking up entire leg, amplitude should be at least 3 inches)</th>
			<td>
				$!LEGLF 
				#if ($LEGLF == "0")
					- Normal
				#elseif ($LEGLF == "1")
					- Mild slowing and/or reduction in amplitude
				#elseif ($LEGLF == "2")
					- Moderately impaired, definite and early fatigue, may have occasional arrests in movement
				#elseif ($LEGLF == "3")
					- Severely impaired, frequent hesitation in initiating movements or arrests in ongoing movement
				#elseif ($LEGLF == "4")
					- Can barely perform the task
				#elseif ($LEGLF == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($LEGLFX = $item.getStringProperty("LEGLFX"))
	#if ( "-4" != $LEGLFX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!LEGLFX
			</td>
		</tr>
	#end
	#set ($ARISING = $item.getStringProperty("ARISING"))
	#if ( "-4" != $ARISING )
		<tr>
			<th width="400px">Arising from chair (patient attempts to rise from a straight-backed chair, with arms folded across chair)</th>
			<td>
				$!ARISING 
				#if ($ARISING == "0")
					- Normal
				#elseif ($ARISING == "1")
					- Slow or may need more than one attempt
				#elseif ($ARISING == "2")
					- Pushes self up from arms of seat
				#elseif ($ARISING == "3")
					- Tends to fall back and may have to try more than one time, but can get up without help
				#elseif ($ARISING == "4")
					- Unable to arise without help
				#elseif ($ARISING == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($ARISINGX = $item.getStringProperty("ARISINGX"))
	#if ( "-4" != $ARISINGX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!ARISINGX
			</td>
		</tr>
	#end
	#set ($POSTURE = $item.getStringProperty("POSTURE"))
	#if ( "-4" != $POSTURE )
		<tr>
			<th width="400px">Posture</th>
			<td>
				$!POSTURE 
				#if ($POSTURE == "0")
					- Normal
				#elseif ($POSTURE == "1")
					- Not quite erect, slightly stooped posture, could be normal for older person
				#elseif ($POSTURE == "2")
					- Moderately stooped posture, definitely abnormal, can be slightly leaning to one side
				#elseif ($POSTURE == "3")
					- Severely stooped posture with kyphosis, can be moderately leaning to one side
				#elseif ($POSTURE == "4")
					- Marked flexion with extreme abnormality of posture
				#elseif ($POSTURE == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($POSTUREX = $item.getStringProperty("POSTUREX"))
	#if ( "-4" != $POSTUREX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!POSTUREX
			</td>
		</tr>
	#end
	#set ($GAIT = $item.getStringProperty("GAIT"))
	#if ( "-4" != $GAIT )
		<tr>
			<th width="400px">Gait</th>
			<td>
				$!GAIT 
				#if ($GAIT == "0")
					- Normal
				#elseif ($GAIT == "1")
					- Walks slowly, may shuffle with short steps, but no festination (hastening steps) or propulsion
				#elseif ($GAIT == "2")
					- Walks with difficulty, but requires little or no assistance, may have some festination, short steps, or propulsion
				#elseif ($GAIT == "3")
					- Severe disturbance of gait requiring assistance
				#elseif ($GAIT == "4")
					- Cannot walk at all, even with assistance
				#elseif ($GAIT == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($GAITX = $item.getStringProperty("GAITX"))
	#if ( "-4" != $GAITX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!GAITX
			</td>
		</tr>
	#end
	#set ($POSSTAB = $item.getStringProperty("POSSTAB"))
	#if ( "-4" != $POSSTAB )
		<tr>
			<th width="400px">Posture stability (response to sudden, strong posterior displacement produced by pull on shoulders while patient erect with eyes open and feet slightly apart; patient is prepared)</th>
			<td>
				$!POSSTAB 
				#if ($POSSTAB == "0")
					- Normal erect
				#elseif ($POSSTAB == "1")
					- Retropulsion but recovers unaided
				#elseif ($POSSTAB == "2")
					- Absence of postural response, would fall if not caught by examiner
				#elseif ($POSSTAB == "3")
					- Very unstable, tends to loss balance spontaneously
				#elseif ($POSSTAB == "4")
					- Unable to stand without assistance
				#elseif ($POSSTAB == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($POSSTABX = $item.getStringProperty("POSSTABX"))
	#if ( "-4" != $POSSTABX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!POSSTABX
			</td>
		</tr>
	#end
	#set ($BRADYKIN = $item.getStringProperty("BRADYKIN"))
	#if ( "-4" != $BRADYKIN )
		<tr>
			<th width="400px">Body bradykinesia and hypokinesia (combining slowness, hesitancy, decreased arm swing, small amplitude and poverty of movement in general)</th>
			<td>
				$!BRADYKIN 
				#if ($BRADYKIN == "0")
					- None
				#elseif ($BRADYKIN == "1")
					- Minimal slowness, giving movement a deliberate character, could be normal for some persons, possibly reduced amplitude
				#elseif ($BRADYKIN == "2")
					- Mild degree of slowness and poverty of movement which is definitely abnormal.  Alternatively, some reduced amplitude
				#elseif ($BRADYKIN == "3")
					- Moderate slowness, poverty or small amplitude of movement
				#elseif ($BRADYKIN == "4")
					- Marked slowness, poverty, or small amplitude of movement
				#elseif ($BRADYKIN == "8")
					- Untestable (specify reason)
			#end
			</td>
		</tr>
	#end
	#set ($BRADYKIX = $item.getStringProperty("BRADYKIX"))
	#if ( "-4" != $BRADYKIX )
		<tr>
			<th width="400px">Untestable (specify reason):</th>
			<td>
				$!BRADYKIX
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
